/* Cabeçalho Login */
header {
  height: 30%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.boxLogo {
  text-align: center;
}

#logoLogin {
  margin-top: 5%;
  width: 18vh;
  height: 10%;
}

#tituloLogo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  color: white;
  margin: 0;
}

#subTitulologo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  padding-bottom: 3%;
}

/* Tela Login */
article {
  background-color: white;
  border-radius: 13px 13px 0 0;
  height: calc(100% - 30%);
}

form {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 0 20px;
  margin: auto 0;
}

.box-input,
.box-input .legenda-formulario {
  background-color: white;
}
.box-input:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .box-input {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
.formulario {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  max-width: 100%;
}

fieldset {
  width: 100%;
  background-color: white;
  margin-top: 10px;
}

#nome, #email, #senha {
  width: 96%;
  padding: 4px;
  border: 1px solid #e2e2e2;
  background-color: white;
  border-radius: 3px;
}
#email:focus-visible, 
#senha:focus-visible {
  border-color: var(--cor-primaria);
}

button {
  background-color: var(--cor-primaria);
  width: 100%;
  padding: 5px;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
}

#Btn_entrar {
  border-radius: 7px;
}

h2 {
  font-size: 2em;
  font-weight: 800;
}

legend {
  font-size: 0.9em;
  text-align: left;
  padding: 5px;
}

#link {
  background-color: white;
  color: var(--cor-primaria);
  text-decoration: none;
}