<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if resourcesFilesCSS|length > 0 %}
      {% for pathFile in resourcesFilesCSS %}
        <link rel="stylesheet" href="{{ pathFile }}">
      {% endfor %}
    {% endif %}
  
    <link rel="shortcut icon" href="{{pathResourcesImg}}/geral/logo-agenda-ponto-colored.png" type="image/x-icon">

    <title>
      Agenda Ponto - {% block titlePage %}Bem Vindo!{% endblock %}
    </title>
  </head>

  <header>
    {% block header %}
      <div class="boxLogo">
        <img src="{{pathResourcesImg}}/geral/logo-agenda-ponto.png" alt="Logo AgendaPonto" id="logoLogin">
        <p id="tituloLogo">AgendaPonto</p>
        <p id="subTitulologo">Sua agenda online</p>
      </div>
    {% endblock %}
  </header>

  <body>
    {% block body %}{% endblock %}
  </body>

  <footer>
    {% if resourcesFilesJS|length > 0 %}
      {% for pathFile in resourcesFilesJS %}
        <script src="{{ pathFile }}"></script>
      {% endfor %}
    {% endif %}
  </footer>
</html>