{% extends 'app.twig.html' %}

{% block titlePage %}Cadastro{% endblock %}

{% block body %}
  {{ response }}

  <form action="/usuario/cadastro" method="post">
    <div>
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome">
    </div>

    <br>
    <br>

    <div>
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email">
    </div>

    <br>
    <br>

    <div>
      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha">
    </div>

    <br>
    <br>

    <button type="submit">Enviar</button>
  </form>
{% endblock %}