{% extends 'app.twig.html' %}

{% block titlePage %}Entrar{% endblock %}

{% block body %}
  <body>
    <article>
      <form action="/entrar" method="POST">

        {% if response|length > 0 %}
          {% if status %}
            <p class="alert sucesso">{{response}}</p>
          {% else %}
            <p class="alert erro">{{response}}</p>
          {% endif %}
        {% endif %}

        <fieldset>
          <p class="formulario">
            <input type="text" name="email" id="email" placeholder="Usuário"/>
          </p>

          <p class="formulario">
            <input type="password" name="senha" id="senha" placeholder="Senha"/>
          </p>

          <p class="formulario">
            <button type="submit" id="Btn_entrar">ENTRAR</button>
          </p>

          <p class="formulario">
            Não tem conta?
            <a href="/usuario/cadastro" id="link">Criar conta agora</a>
          </p>
        </fieldset>
      </form>
    </article>
  </body>
{% endblock %}