header {
  border-radius: 0 0 15px 15px;
}

body,
.box-input > label,
.box-input > .box-options {
  background-color: white;
}
.hide {
  display: none !important;
}
.container_main {
  height: 68vh;
}
@media (max-width: 767px) {
  .container_main {
    height: 90vh;
  }
}
.box-input > input[type="email"],
.box-input > input[type="password"] {
  border: 1px solid #dfdfdf;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}
.box-input > input[type="email"]:focus-visible,
.box-input > input[type="password"]:focus-visible {
  outline: none;
  border-color: var(--cor-primaria);
}